
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
        background-color: white;
}

@font-face{
    font-family: Fraunces-VariableFont;
    src: url(../fonts/Fraunces-VariableFont.ttf);
}
@font-face{
    font-family: RubikDirt-Regular;
    src: url(../fonts/RubikDirt-Regular.ttf);
}

@font-face{
    font-family: Fraunces-VariableFont-VariableFont;
    src: url(../fonts/Fraunces-VariableFont-VariableFont_SOFT,WONK,opsz,wght.ttf);
}
header{
    background-color: #3626a7;
    color:white;
    text-align: center;
    padding-left: 15px;
    height: 60px;
    font-family: Fraunces-VariableFont;
    font-size: 3rem;
}
.logo-header{
    line-height: 60px;
    font-size: 1.3rem;
}

.navbar{
    height: 60px;
    background-color: #000103;
    color: white;
    font-family: Fraunces-VariableFont;
    font-size: 1.3rem;
    padding: 5px;
}
.nav-item{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.nav-item .nav-link{
    animation: .5s;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.nav-link:hover{
    animation: 0.5s;
    color: black;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    cursor: hand;
    
}
.nav-item .nav-link:focus{
    color: black;
    background-color: white;
    padding: 10px;
}
#nombre-entidad{
    background-color: white;
}
/*

#slider{
    max-height: 800px;
    background-color: white;

}

.carousel-item{
    max-height: 800px;
    height: 700px;
}

.carousel-slide{
    max-height: 800px;
    background-color: white;
}
*/